@import "variables" , "textFont";

#payment {
  text-align: left;
}

  @function mult($number) {
    $result: $number * 4;
    @return $result + px;
  }

  @each $size in $sizes {
    .mgl-#{$size} {
      margin-left: mult($size);
    }

    .mgr-#{$size} {
      margin-right: mult($size);
    }

    .mgt-#{$size} {
      margin-top: mult($size);
    }

    .mgt-n#{$size} {
      margin-top: -#{mult($size)};
    }

    .mgb-#{$size} {
      margin-bottom: mult($size);
    }

    .mgb-n#{$size} {
      margin-bottom: -#{mult($size)};
    }

    .mgx-#{$size} {
      margin: 0 mult($size);
    }

    .mgy-#{$size} {
      margin: mult($size) 0;
    }

    .pdl-#{$size} {
      padding-left: mult($size);
    }

    .pdr-#{$size} {
      padding-right: mult($size);
    }

    .pdt-#{$size} {
      padding-top: mult($size);
    }

    .pdb-#{$size} {
      padding-bottom: mult($size);
    }

    .pdx-#{$size} {
      padding: 0 mult($size);
    }
    
    .pda-#{$size} {
      padding: mult($size);
    }
  }

  .mgy-auto {
    margin-top: auto;
    margin-bottom: auto;
  }  

  .mgx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    margin-left: 40px;
    margin-right: 40px;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .flex {
    display: flex;

    .justify-between {
      display: flex;
      justify-content: space-between;
    }
    .spacer {
      flex-grow: 1;
    }
    .justify-center {
      display: flex;
      justify-content: center;
    }
    .justify-start {
      display: flex;
      justify-content: start;
    }
  }

  .direction-flex {
    display: flex;
    .flex-column {
      display: flex;
      flex-direction: column;
    }
    .spacer {
      flex-grow: 1;
    }
    .align-center {
      align-items: center;
    }
  }

  .card {
    border: 1px solid #E2E7ED;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    width: 480px;
  }

  .card-mini-full {
    border: 1px solid #E2E7ED;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    width: 896px;
  }

  .card-min {
    border: 1px solid #E2E7ED;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    width: 360px;
    text-align: left;
  }

  .float-right {
   float: right;
  }

  @media only screen and (max-width: 768px) {
    .card {
      width: 100%;
    }

    .card-min {
      width: -webkit-fill-available;
    }
  }

  @each $direction in $directions {

    .text-#{$direction} {
      text-align: $direction;
    }
  }
  
  @each $name, $color in $colors {
    .text-#{$name} {
      color: $color !important;
    }
  }


  
  hr {
    border: 1px solid #E2E7ED;
    width: 100%;
  }

  .link {
    color: $linkColor;
    cursor: pointer;
  }

  .pointer {
    cursor: pointer;
  }

  .primary-btn {
    border: none;
    background-color: $linkColor;
    padding: 12px 32px;
    color:white !important;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    height: 52px;
  }

  .primary-btn-block {
    border: none;
    background-color: $linkColor;
    padding: 12px 32px;
    color:white !important;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    height: 52px;
  }

  .midnightblue-btn-block {
    border: none;
    background-color:#D3DDF6;
    padding: 12px 32px;
    color: $linkColor !important;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    height: 52px;
  }

  .error-btn-block {
    border: none;
    background-color: #9B101C;
    padding: 12px 32px;
    color: white !important;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    height: 52px;
  }

  .btn-outline {
    border: 2px solid $linkColor;
    background-color: white;
    color: $linkColor !important;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    height: 52px;


    .success {
      border-color: #04AA6D;
      color: green;
    }
    
    .success:hover {
      background-color: #04AA6D;
      color: white;
    }
    
    .primary {
      border-color: $linkColor;
      color: $linkColor !important;
    }

    .primary:hover {
      background-color: $linkColor;
      color: white;
    }
    /* Blue */
    .info {
      border-color: #2196F3;
      color: dodgerblue
    }
    
    .info:hover {
      background: #2196F3;
      color: white;
    }
    
    /* Orange */
    .warning {
      border-color: #ff9800;
      color: orange;
    }
    
    .warning:hover {
      background: #ff9800;
      color: white;
    }
    
    /* Red */
    .danger {
      border-color: #f44336;
      color: red
    }
    
    .danger:hover {
      background: #f44336;
      color: white;
    }
    
    /* Gray */
    .default {
      border-color: #e7e7e7;
      color: black;
    }
    
    .default:hover {
      background: #e7e7e7;
    }

    .large {
      min-width: 154px !important;
    }


  }

  .opacity-25 {
    opacity: 0.5,
  }

  .selected-border {
    border: 1px solid $linkColor !important;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .option-border {
    border: 0.5px solid #E2E7ED;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.4;
    background: white;
  }

  .payment-input {
    border: 0.5px solid #C0C4CC !important;
  }
  
.w-full {
  width: 100% !important;
}

