@import "variables" , "textFont";

#app {
  font-family: 'Nunito' !important;
  text-align: center;
}

#payment {
  text-align: left;
}

  @function mult($number) {
    $result: $number * 4;
    @return $result + px;
  }

  @each $size in $sizes {
    .ml-#{$size} {
      margin-left: mult($size);
    }

    .mr-#{$size} {
      margin-right: mult($size);
    }

    .mt-#{$size} {
      margin-top: mult($size);
    }

    .mt-n#{$size} {
      margin-top: -#{mult($size)};
    }

    .mb-#{$size} {
      margin-bottom: mult($size);
    }

    .mb-n#{$size} {
      margin-bottom: -#{mult($size)};
    }

    .mx-#{$size} {
      margin: 0 mult($size);
    }

    .my-#{$size} {
      margin: mult($size) 0;
    }

    .pl-#{$size} {
      padding-left: mult($size);
    }

    .pr-#{$size} {
      padding-right: mult($size);
    }

    .pt-#{$size} {
      padding-top: mult($size);
    }

    .pb-#{$size} {
      padding-bottom: mult($size);
    }

    .px-#{$size} {
      padding: 0 mult($size);
    }
    
    .pa-#{$size} {
      padding: mult($size);
    }
  }

  .container {
    margin-left: 40px;
    margin-right: 40px;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .d-flex {
    display: flex;
    .flex-column {
      display: flex;
      flex-direction: column;
    }
    .spacer {
      flex-grow: 1;
    }
    .align-center {
      align-items: center;
    }
  }

  .card {
    border: 1px solid #E2E7ED;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    width: 480px;
  }

  .card-min {
    border: 1px solid #E2E7ED;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    width: 360px;
    text-align: left;
  }

  .float-right {
   float: right;
  }

  @each $direction in $directions {

    .text-#{$direction} {
      text-align: $direction;
    }
  }
  
  @each $name, $color in $colors {
    .text-#{$name} {
      color: $color !important;
    }
  }


  
  hr {
    border: 1px solid #E2E7ED;
    width: 100%;
  }

  .link {
    color: $linkColor;
    cursor: pointer;
  }

  .pointer {
    cursor: pointer;
  }

  .primary-btn {
    border: none;
    background-color: $linkColor;
    padding: 12px 32px;
    color:white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
  }

  .primary-btn-block {
    border: none;
    background-color: $linkColor;
    padding: 12px 32px;
    color:white;
    text-align: center;
    border-radius: 4px;
    width: 100%
  }

  .midnightblue-btn-block {
    border: none;
    background-color:#D3DDF6;
    padding: 12px 32px;
    color: $linkColor;
    text-align: center;
    border-radius: 4px;
    width: 100%;
  }
  .error-btn-block {
    border: none;
    background-color: #9B101C;
    padding: 12px 32px;
    color: white;
    text-align: center;
    border-radius: 4px;
    width: 100%;
  }

  .opacity-25 {
    opacity: 0.5,
  }

  .selected-border {
    border: 1px solid $linkColor;
    border-radius: 4px;
  }
