.title-payment {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #606266;
}

.normal-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #606266;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.amount-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 36px
}

.text-caption {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #606266;
}

.text-caption-1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #303133;
}

.text-caption-2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #606266;
}

.text-overline {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #909399;
}

.text-list-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #606266;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}

.text-body-2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #606266;
}

.text-subtitle-1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #303133;
}

