$linkColor: #324BA8;
$sizes: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24;
$px: "px";
$directions: right, left, center;
$colors: (
  "gray90":#303133,
  "gray80":#606266,
  "error": #B71F25,
  "midnightBlue20": $linkColor,
  "sendy-red-30": #9B101C,
);
